.container {
  padding-top: 140px;
  padding-bottom: 160px;
  @media (max-width: 992px) {
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media (max-width: 767px) {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 0 20px;
  }
}

.title {
  font-weight: 600;
  font-size: 55px;
  line-height: 137%;
  text-align: center;
  color: #1c1b27;
  @media (max-width: 992px) {
    font-size: 30px;
    max-width: 633px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.blocks {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 250px;
  background: url("../../assets/image/help.png") no-repeat;
  background-position: 0% 30%;
  @media (max-width: 992px) {
    padding-bottom: 135px;
    background-size: contain;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-right: 84px;
  @media (max-width: 1500px) {
    margin-right: 20px;
  }
  @media (max-width: 1070px) {
  }
  @media (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px 60px;
  }
  &-img {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1070px) {
    }
    @media (max-width: 767px) {
      height: 130px;
    }
  }
  &:last-child {
    margin-right: 0;
  }
  &--one {
    max-width: 422px;
    @media (max-width: 1070px) {
      max-width: 236px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
    img {
      max-width: 163px;
      @media (max-width: 1070px) {
        max-width: 111px;
      }
    }
    .icon {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left: -58px;
      margin-bottom: -123px;
      @media (max-width: 1500px) {
        width: 130px;
        margin-left: 0px;
        margin-bottom: -113px;
      }
      @media (max-width: 1070px) {
        width: 91px;
        margin-left: 0px;
        margin-bottom: -75px;
      }
      @media (max-width: 767px) {
        margin-left: 0px;
        margin-bottom: 6px;
      }
    }
  }
  &--two {
    max-width: 352px;
    @media (max-width: 1070px) {
      max-width: 228px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
    img {
      max-width: 140px;
      @media (max-width: 1070px) {
        max-width: 95px;
      }
      @media (max-width: 767px) {
      }
    }
    .icon {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: -10px;
      margin-bottom: -103px;
      @media (max-width: 1500px) {
        width: 95px;
      }
      @media (max-width: 1070px) {
        width: 62px;
        margin-right: 0px;
        margin-bottom: -58px;
      }
      @media (max-width: 767px) {
        margin-right: 28px;
        margin-bottom: 11px;
      }
    }
  }
  &--three {
    max-width: 317px;
    @media (max-width: 1070px) {
      max-width: 222px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
    img {
      max-width: 180px;
      @media (max-width: 1070px) {
        max-width: 120px;
      }
    }
    .icon {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: -113px;
      margin-bottom: -86px;
      @media (max-width: 1500px) {
        margin-right: -12px;
        margin-bottom: -104px;
        width: 120px;
      }
      @media (max-width: 1070px) {
        width: 70px;
        margin-right: 0px;
        margin-bottom: -61px;
      }
      @media (max-width: 767px) {
        margin-right: 33px;
        margin-bottom: 9px;
      }
    }
  }
  &__img {
    // margin-bottom: 24px;
  }
  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 129%;
    text-align: center;
    color: #1c1b27;
    margin-bottom: 29px;
    @media (max-width: 1070px) {
      font-size: 16px;
      margin-bottom: 15px;
    }
    @media (max-width: 767px) {
    }
  }
  &__desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #61606f;
    @media (max-width: 1070px) {
      font-size: 14px;
    }
    @media (max-width: 767px) {
    }
  }
}

.heading {
  max-width: 1251px;
  margin: 0 auto 100px;
  @media (max-width: 992px) {
    margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    margin-top: 40px;
  }
}

.looker {
  margin: 0 auto 80px;
  max-width: 969px;
  display: block;
  width: 100%;
  text-align: center;
  @media (max-width: 992px) {
    border-radius: 15px;
    max-width: 549px;
  }
  @media (max-width: 767px) {
  }
}

.principes {
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 141%;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #1c1b27;
    margin-bottom: 25px;
    @media (max-width: 992px) {
      font-size: 15px;
    }
    @media (max-width: 767px) {
    }
  }

  &-item {
    margin-right: 50px;
    max-width: 400px;
    width: 100%;
    &:first-child {
      margin-left: 20px;
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }
    &:last-child {
      margin-right: 20px;

      @media (max-width: 767px) {
        margin-right: 0;
      }
    }
    @media (max-width: 992px) {
    }
    @media (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 33px;
    }

    &__count {
      box-shadow: 0px 5px 18px rgba(153, 154, 156, 0.19);
      font-weight: 700;
      font-size: 32px;
      line-height: 160%;
      color: #ffffff;
      background: #374ff2;
      width: 71px;
      height: 71px;
      text-align: center;
      line-height: 57px;
      vertical-align: middle;
      border-radius: 50%;
      border: 7px solid #fff;
      margin: 0 auto 23px;
      @media (max-width: 992px) {
        width: 47px;
        height: 47px;
        font-size: 20px;
        line-height: 37px;
        border: 5px solid #fff;
      }
      @media (max-width: 767px) {
      }
    }
    &__desc {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      color: #61606f;
      @media (max-width: 992px) {
        font-size: 13px;
      }
      @media (max-width: 767px) {
      }
      .green {
        color: #00924c;
      }
      .red {
        color: #ed4756;
      }
      .blue {
        color: #374ff2;
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: -20px;
  position: relative;
  z-index: 99;
  &-count {
    font-weight: 700;
    font-size: 20px;
    line-height: 190%;
    color: #374ff2;
    margin: 0 40px;
    min-width: 70px;
    text-align: center;
  }
  &-arrow {
    width: 44.69px;
    height: 44.69px;
    flex: none;
    border: 3px solid #374ff2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    appearance: none;
    background: transparent;
    transition: 0.2s;
    path {
      transition: 0.2s;
    }
    &:focus {
      outline: none;
    }
    &:hover,
    &:active {
      background: #374ff2;
      path {
        stroke: #fff;
      }
    }
    &--left {
      transform: rotate(180deg);
    }
  }
}

.slider {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
